* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #FFFFFF;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    height: 100vh;
    position: relative;
}

.cards {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.148);
}

@media(max-width:375px) {
    .cards {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        z-index: -2;
    }
}

.left-side,
.right-side {
    width: 300px;
    height: 400px;
}

.left-side {
    background-image: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
    border-radius: 40px;
}

.right-side {
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

@media (min-width: 375px)and (max-width:600px) {
    .cards {
        width: 370px;
    }

    .left-side,
    .right-side {
        width: 185px;
    }
}

@media(max-width:375px) {

    .left-side,
    .right-side {
        width: 100%;
    }

    .left-side {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .right-side {
        border-radius: 0;
    }
}

/* start of left side  */
.left-side {
    color: #D0C3FF;
    text-align: center;
    position: relative;
    z-index: -1;
}

.left-side .degree {
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-image: linear-gradient(to bottom, #4630db, #4732e0, #4834e5, #4936ea, #4a38ef);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 20px auto;
}

.left-side .degree span {
    font-size: 50px;
    font-weight: 800;
    color: white;
    margin-top: 35px;
}

.left-side .Great {
    font-weight: 500;
    color: white;
    font-size: 27px;
    margin-bottom: 15px;
}

.left-side p {
    margin: 0 40px;
}

@media (min-width: 375px)and (max-width:600px) {
    .left-side p {
        margin: auto;
    }
}

/* end of left side  */

/* start of  right side */
.right-side {
    color: hsl(224, 30%, 27%);
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.cards h1 {
    margin: 20px;
    font-weight: 500;
}

.right-side .result img {
    margin-right: 9px;
}

.right-side .result {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    padding: 12px;
    border-radius: 10px;
}

.right-side .result .right-re {
    display: flex;
}

.right-side .result .blur {
    color: hsla(224, 30%, 27%, 0.374);
}

.right-side .red .right-re {
    color: hsl(0, 100%, 67%);
}

.right-side .red {
    background-color: #FFFBF2;
}

.right-side .yellow .right-re {
    color: hsl(39, 100%, 56%);
}

.right-side .yellow {
    background-color: #FFFBF2;
}

.right-side .teal .right-re {
    color: hsl(166, 100%, 37%);
}

.right-side .teal {
    background-color: #F2FBFA;
}

.right-side .blue .right-re {
    color: hsl(234, 85%, 45%);
}

.right-side .blue {
    background-color: #F3F3FD;
}

.right-side input {
    width: 240px;
    margin: auto;
    padding: 12px;
    border-radius: 22px;
    border-style: none;
    color: white;
    background-color: hsl(224, 30%, 27%);
    font-size: 16px;
}

@media (min-width: 375px)and (max-width:600px) {
    .right-side .result {
        font-size: 12px;
    }

    .right-side input {
        width: 150px;
        font-size: 12px;
    }
}

.right-side input:hover {
    background-image: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
}

/* end of  right side */
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 1.6rem;
    color: #684BF9;
}

.attribution a {
    color: black;
}